body {
    font-family: monospace;
    background-color: gray;
    background: linear-gradient(to right, rgb(158, 122, 116), rgb(208, 109, 112), rgb(155, 155, 117));
}
.container {
    text-align: center;
}
button {
    background-color: rgb(77, 118, 205);
    border: none;
    padding: 10px;
    border-radius: 10px;
    padding: 15px;
}